@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_LayoutAdmin.cshtml";
}

<div class="container">
    <table class="table table-borderd table-hover">
        <thead>
            <tr>
                <th>Mã Sản Phẩm </th>
                <th>Tên Sản Phẩm </th>
                <th>Gía Bản </th>
                <th>Giarm Gía </th>
                <th>Mô tả</th>
                <th>Mã NCC</th>
                <th>Mã Loại</th>
                <th>Ảnh</th>
                <th>Ảnh CT</th>
                <th>Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap/js/SanPhamAjax.js"></script>